<h1>Bienvenido {{email}}</h1>
<button onclick="location.href='/api/users/logout'" type="button" class="btn btn-primary">Cerrar sesión</button>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="#" class="btn btn-primary">Ver más</a>
    </div>
</div>